.container {
  display: grid;
  grid: repeat(3, 85px) / repeat(3, 85px);
  gap: 5px;
  margin-top: 20px;
}
.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 32px;
  font-weight: bold;
}
.grid-turn{
    font-size: 22px;
}
.grid-result{
    font-size: 25px;
}
