.container {
  display: grid;
  grid: repeat(3, 90px) / repeat(3, 90px);
  gap: 5px;
  margin-top: 20px;
}
.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 45px;
  font-weight: bold;
  border-radius: 10px;
  color: rgb(243, 11, 81);
}
.grid-turn{
    font-size: 22px;
    color: white;
}
.grid-result{
    font-size: 25px;
    font-weight: bold;
    width: 250px;
    padding: 12px 0px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
.result-winner{
  color:blue;
}
.result-draw{
  color: red;
}
.btn{
  margin-top: 10px;
  width: 250px;
  padding: 15px;
  cursor: pointer;
  border: none;
  background-color: rgb(33, 121, 33);
  color: white;
  font-size: 22px;
  border-radius: 25px;
}
